<div class="parant">
             <div class="child">
                
                <form [formGroup]="loginForm">

                    <div class="logo"></div>
                    <h2>Login</h2>
                    <input type="email" placeholder="Enter name" formControlName="email"><br>
                    <input type="password" placeholder="Enter password" formControlName="password"><br>
                   <button (click)="login()"> Login </button>
                </form>
             </div>

</div>